.App {
  text-align: center;
}

.App img {
  margin-top: 60px;
  margin-bottom: 20px;
}

.app__form {
  width: 90%;
  background-color: #E9E9EB;
  position: fixed;
  bottom: 20px;
  padding: 20px;
  margin: 20px;
  z-index: 1;
  text-align: center;
  border-radius: 15px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}

.App__messages {
  position: absolute !important;
  width: 100%;
  height: calc(100vh - 400px);
  top: 250px;
  bottom: 150px;
  overflow-y: scroll;
}